<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div id="app" style="width: 100vw">
    <div style="
    text-align: center;
    border:1px solid coral;
    padding: 30px;border-radius: 30px;
    background-color: aquamarine;
    box-shadow: 10px 10px 10px blanchedalmond;
    margin: 10px;">
        一粒尘可填沧海，一株草斩尽日月星辰
    </div>
</div>

<script>
    const { createApp } = Vue
    createApp({
        data() {
            return {

            }
        },
        methods: {
        }
    }).mount('#app')
</script>